<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poliedrux</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header id="header">
        <div id="logo-div">
            <img id="header-img" src="https://cdn.domestika.org/c_fill,dpr_1.0,f_auto,h_1200,q_auto,w_1200/v1462476654/project-covers/000/256/891/256891-original-icono_poliedro.jpg?1462476654">
            <p id="logo-name">Poliedru<span class="color-logo">x</span></p>
        </div>
        <nav id="nav-bar">
            <ul id="nav-list">
                <li class="nav-link"><a href="#poliedros-section">Diseños</a></li>
                <li class="nav-link"><a href="#video">Envios</a></li>
                <li class="nav-link"><a href="#submit">Precios</a></li>
            </ul>
        </nav>
    </header>

    <section id="section-intro">
        <h1 id="title-h1">Más que ideas y Poliedros</h1>
        <form action="https://www.freecodecamp.com/email-submit" id="form">
            <input placeholder="Email" type="email" name="email" id="email">
            <input type="submit" id="submit" value="Enviar"></input>
        </form>
    </section>
    <section id="video-section">
        <iframe id="video" width="560" height="315" src="https://www.youtube.com/embed/PiJLbgoZ1UA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </section>
    <hr>
    <section id="poliedros-section" class="border">
        <figure class="figure-img-poliedro">
            <img class="img-poliedro" src="https://upload.wikimedia.org/wikipedia/commons/2/25/Tetrahedron.png">
            <figcaption class="figcaption">Poliedros<br>Los poliedros son figuras geométricas con caras planas y aristas. Tienen propiedades específicas, como el número de caras, vértices y aristas. Estas propiedades también ayudan a identificar y clasificar a los poliedros.</figcaption>
        </figure>
        <figure class="figure-img-poliedro">
            <img class="img-poliedro" src="https://upload.wikimedia.org/wikipedia/commons/7/77/Small_stellated_dodecahedron.png">
            <figcaption class="figcaption">Magia<br>La magia es una forma de arte misterioso que involucra el uso de energías y fuerzas ocultas para lograr resultados impresionantes. Puede ser usada para curar, proteger, bendecir y realizar milagros. Es una forma de conectar con la naturaleza y expandir la consciencia.</figcaption>
        </figure>
        <figure class="figure-img-poliedro">
            <img class="img-poliedro" src="https://upload.wikimedia.org/wikipedia/commons/0/02/Icosidodecahedron.png">
            <figcaption class="figcaption">Mistico<br>Los poliedros mágicos en la antigüedad se usaban para conjurar poderes místicos y alcanzar el éxito. </figcaption>
        </figure>
    </section>

</body>
</html>