:root {
    --gradientdark: linear-gradient(45deg,
            rgb(27, 27, 27) 30%,
            rgba(0, 10, 194, 1) 65%,
            rgba(13, 73, 245, 1) 89%,
            rgba(90, 122, 255, 1) 100%);

    --gradientlight: linear-gradient(45deg,
            rgba(255, 255, 251, 1) 0%,
            rgba(249, 255, 94, 1) 36%,
            rgba(255, 219, 78, 1) 56%,
            rgba(245, 132, 13, 1) 77%,
            rgba(208, 0, 0, 1) 100%);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Helvetica Neue, Arial, sans-serif;
    transition: 0.15s;

    background-image: var(--gradientdark);
    background-size: 200%;
    animation: bg-animation 10s infinite alternate;
    transition: 0.3s;
}

@keyframes bg-animation {
    10% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}

.card {
    padding: 20px;
    text-align: center;
    width: fit-content;
    margin: 1em;

    background-color: rgb(0, 0, 0, 0.6);
    border-radius: 10px;
}

.weather-icon img {
    width: 75px;
    margin-bottom: 30px;
}

.search {
    margin: 10px auto 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    position: relative;
    height: 30px;
    width: 36px;
    transition: 0.3s;
}

.search:hover {
    width: 125px;
}

.search input {
    position: relative;
    width: 100%;
    height: 100%;
    border: none;
    padding-left: 10px;
    outline: none;
    margin-left: 0px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0);
    transition: 0.3s;
}

.search input:hover {
    background-color: rgba(0, 0, 0, 0.221);
    transition: 0.3s;
}

/*  */
.search input:focus {
    background-color: rgba(0, 0, 0, 0.62);
    transition: 0.3s;
}

.search input,
.search input::placeholder {
    color: transparent;

}

.search:hover input::placeholder,
.search:hover input {
    color: gray;
}

.search button {
    background-color: rgba(0, 0, 255, 0);
    color: gray;
    position: absolute;
    border: none;
    font-size: 100;
    right: 0;
    transition: 0.3s;


}

.weather h1,
h2,
h3 {
    margin: 0;
    transition: 0.3s;
}